<h1 style="font-weight: 100">COMPANY<strong>EDIT</strong></h1>
<mat-card *ngIf="company$ | async as company">
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="company.name" />
  </mat-form-field>
  <mat-card-actions align="right">
    <button mat-raised-button color="primary" (click)="saveCompany(company)">
      SAVE
    </button>
    <button mat-raised-button color="secondary" (click)="editCompany(company)">
      EDIT
    </button>
    <button mat-raised-button (click)="deleteCompany()">DELETE</button>
  </mat-card-actions>
</mat-card>
